
#landing-page-container{
    margin: 2rem 10rem 2rem 10rem;
    display: flex;
    justify-content: center;
}


#landing-page-hero{
    display: block;
    width: 50%;
   
    /* box-shadow: 5px 5px 18px black; */
}

ul{
    list-style-type: none;
}

label > input{
    display: flex;
    width: auto;
    
}

body{
    background-image: url(./images/world-1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    justify-content: space-around; */
}
#registration-container, #login-container{
    background-color: #FFF0CD;
    padding: 2%;
}
#landing-hero-right{
    background-color: #FFF0CD;
    text-align: center;
    box-shadow: 5px 5px 18px black;
    padding: 1rem;
    color: #00163F;
}
#main-title{
    font-family: 'Press Start 2P', cursive;
    font-weight: 900;
    color: #00163F;
    border: 2px solid #144673;
    border-radius: 15px;
    padding: 0.5em 0em;
    box-shadow: 1px -3px 15px #E33201;
}
.auth-half > h1{
    font-family: 'Press Start 2P', cursive;
    font-weight: 800;
    padding: 0em 0.5em;
    color: #00163F;
}
.auth-half{
    padding-right: 10em;
    color: #00163F;
}
label{
    font-family: 'Press Start 2P', cursive;
    font-weight: 200;
}
#stopwatch{
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    color: whitesmoke;
    /* background-color: white; */
    padding: 0em 1em 0em 1em;
    position: absolute;
    top: 8%;
    left: 33%;
}
#post-game{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    color: #00163F;
    background-color: #FFF0CD;
    text-align: center;

    font-family: 'Irish Grover', cursive;

    box-shadow: 5px 5px 18px black;
    padding-bottom: 1em;
}
#game-screenshot{
    width: 40%;
    height: auto;
    padding-left: 0em;
    box-shadow: 1px 3px 10px black;
}
#game-description{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em 2em 0em 2em;
    background-color: #FF9210;
    border: 0.5em solid #E33201;
    border-radius: 30px 0px 30px 0px;
}
#description > p{
    padding: 0.5em 2em 0em 2em;
}
#description{
    font-family: 'Press Start 2P', cursive;
    box-shadow: 1px 3px 10px black;
    background-color: #FFF0CD;
}
#shadow{
    box-shadow: 5px 5px 18px black;
    margin-right: 3em;
}
#controls > h1{
    font-family: 'Press Start 2P', cursive;
}
#controls > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i{
    padding: 0em 1em;
}
#controls{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    align-items: center;
    border: 2px solid #144673;
    border-radius: 15px;
    padding: 0.5em 0.5em;
    box-shadow: 1px -3px 15px #E33201;
}

header{
    background-color: #FFF0CD;
    display: flex;
    justify-content: flex-start;
    margin: 0em 1em;
    padding: 0em 0em 0em 6em;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 18px black;
}
#greeting{
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
}
