#landing-page-container{
    margin: 2rem 10rem 2rem 10rem;
    display: flex;
    justify-content: center;
}


#landing-page-hero{
    display: block;
    width: 50%;
    /* padding-right: 50%; */
}

ul{
    list-style-type: none;
}

label > input{
    display: flex;
    
}

body{
    background-image: url(./images/world-1.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#registration-container, #login-container{
    background-color: aliceblue;
    padding: 2%;
}
#landing-hero-right{
    background-color: aliceblue;
    padding-right: 2em;
}
#main-title{
    font-family: 'Irish Grover', cursive;
    font-size: xx-large;
}
.auth-half > h1{
    font-family: 'Permanent Marker', cursive;
}
label{
    font-family: 'Asap', sans-serif;
}
#stopwatch{
    font-family: 'Permanent Marker', cursive;
    color: whitesmoke;
    /* background-color: white; */
    padding: 0em 1em 0em 1em;
    position: absolute;
    top: 5%;
    left: 40%;
}
#post-game{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    color: black;
    background-color: whitesmoke;
    text-align: center;

    font-family: 'Irish Grover', cursive;

    box-shadow: 5px 5px 20px black;
    padding-bottom: 1em;
}