/* *{
    border: 1px solid red;
} */

/* #landing-page-container{
    display: inline-flex;
} */

#landing-page-hero{
    display: block;
    width: 50%;
    padding-right: 50%;
}

ul{
    list-style-type: none;
}

